*{
    font-family: "Roboto", sans-serif;
    background-color: var(--color-background);
}

/* root colori */
:root{
    --color-background: #083b4c;
    --color-white: #ffffff;
    --color-box-text: #000000;
    --color-number-box: #1389b2;
    --color-fizz-box: #0cd6a1;
    --color-buzz-box: #ffd166;
    --color-fizzbuzz-box: #f0466f;

}

header h1{
    font-size:60px;
    text-align: center;
    font-weight: 900;
    margin-top: 50px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.box{
    width: 140px;
    height: 140px;
    color: var(--color-box-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: var(--color-number-box);
}

#boxes{
    width: 1200px;
    margin: 0 auto;
}

/* box cases */
.number-box{
    background-color: var(--color-number-box);
}

.fizz-box{
    background-color: var(--color-fizz-box);
}

.buzz-box{
    background-color: var(--color-buzz-box);
}

.fizzbuzz-box{
    background-color: var(--color-fizzbuzz-box);
}